body{
  
}
.page-bar {
	background:none;
}

.note.note-error {
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}
.topDashboard {
	.form-group{
		margin:0px;
		padding:0px;
		input{
			min-width: 200px;
    		text-align: right;
		}
	}
}